{# @uploads/admin/reject.html.twig #}

{% block reject %}
{{ include('@uploads/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Confirm Delete</h2><br />
        <div style="margin: auto;">

            <table summary="Uploads" width="100%" border="0" cellpadding="2" cellspacing="1" class="xar-accent">
                <tr>
                    <th>Source Module</th>
                    <th>Upload Code</th>
                    <th>Mod Item ID</th>
                    <th>Uploaded by</th>
                    <th>User Given File Name</th>
                    <th>Current File Name</th>
                    <th>Actions</th>
                </tr>
                {% for loop_key1, loop_item1 in items %}{% set loop_index1 = loop.index %}
                    <tr>
                        <td class="xar-norm">{{ loop_item1['ulmod'] }}</td>
                        <td class="xar-norm">ulid:{{ loop_item1['ulid'] }}</td>
                        <td class="xar-norm">{{ loop_item1['ulmodid'] }}</td>
                        <td class="xar-norm">{{ loop_item1['uluid'] }}</td>
                        <td class="xar-norm">{{ loop_item1['ulfile'] }}</td>
                        <td class="xar-norm">{{ loop_item1['ulhash'] }}</td>
                        <td class="xar-norm">
                            <a href="{{ xar_moduleurl('uploads', 'admin', 'confirmdelete', {'ulid': loop_item1['ulid'], 'authid': authid}) }}">
                                Confirm Delete\
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}